<html>
  <head>
    <style>
    .row{
      border-bottom: 2px solid black;
      padding-bottom: 2rem;
    }
    .hide{
      display: none;
    }
    </style>
  </head>
  <body>
    <!-- <h3><button>sign in</button> <button class="hide">sign out</button></h3> -->
    <form action="/sign-in" method="POST">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit">
    </form>
    <h1>home page</h1>
    {{ if .User.IsLoggedIn }}
      <div>USER IS LOGGED IN AS USER {{ .User.ID }}</div>
    {{ end }}
    {{ range .Articles }}
    <div class="row">
      <h3 class="name">{{ .Title }}</h3>
      <h4 class="author">{{ .Author }}</h4>
      <div class="website">{{ .Website }}</div>
      <button>add to my articles</button>
    </div>
    {{ end }}
    <script>
      var buttons = document.querySelectorAll('button');
      for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(){
          var name = encodeURIComponent(this.parentElement.getElementsByClassName('name')[0].innerHTML),
          author = encodeURIComponent(this.parentElement.getElementsByClassName('author')[0].innerHTML),
          website = encodeURIComponent(this.parentElement.getElementsByClassName('website')[0].innerHTML);
          fetch('http://localhost:5050/save-article?user_id='+{{ .User.ID }}+'&author='+author+'&name='+name+'&website='+website)
          .then(function(response) {
          console.log(response.status);
          });
        });
      }
    </script>
  </body>
</html>