<html>
  <head>
    <style>
    .row{
      border-bottom: 2px solid black;
      padding-bottom: 2rem;
    }
    .hide{
      display: none;
    }
    </style>
  </head>
  <body>
    <!-- <h3><button>sign in</button> <button class="hide">sign out</button></h3> -->    
    <h1>home page</h1>
    {{ if .User.IsLoggedIn }}
      <div>USER IS LOGGED IN AS USER {{ .User.ID }}</div>
    {{ else }}
      <form id="sign-in-form" {{ if .User.IsLoggedIn }} class="hide" {{ end }} action="/sign-in" method="POST">
        <input id="email" type="email" name="email" placeholder="email">
        <input id="password" type="password" name="password" placeholder="password">
        <input type="submit">
      </form>
    {{ end }}
    {{ range .Articles }}
    <div class="row">
      <h3 class="name">{{ .Title }}</h3>
      <h4 class="author">{{ .Author }}</h4>
      <div class="website">{{ .Website }}</div>
      <button>add to my articles</button>
    </div>
    {{ end }}
    <script>
      var form = document.getElementById('sign-in-form');
      if (form) {
        document.getElementById('sign-in-form').addEventListener('submit', function(ev){
        ev.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/sign-in', true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {//Call a function when the state changes.
          if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
            console.log(xhr.responseText);
            if (xhr.responseText.length > 0) {
              location.reload();
              document.cookie = "hn_auth_token="+xhr.responseText
            }
          }
        }
        var email = document.getElementById('email').value,
        password = document.getElementById('password').value;
        xhr.send("email="+email+'&password='+password);         
        });
      }

      var buttons = document.querySelectorAll('button');
      for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(){
          var name = encodeURIComponent(this.parentElement.getElementsByClassName('name')[0].innerHTML),
          author = encodeURIComponent(this.parentElement.getElementsByClassName('author')[0].innerHTML),
          website = encodeURIComponent(this.parentElement.getElementsByClassName('website')[0].innerHTML);
          fetch('http://localhost:5050/save-article?user_id='+{{ .User.ID }}+'&author='+author+'&name='+name+'&website='+website)
          .then(function(response) {
          console.log(response.status);
          });
        });
      };
    </script>
  </body>
</html>